
<!DOCTYPE html>                                                  
<html lang="ko">                                                    
    <head>                                                            
        <meta charset="UTF-8">                                              
        <title>{% block title %} Flask App {% endblock %}</title>           
        <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}"> 
    </head>
    <body>                                                              
        <nav>                                                               
            <h2> My Flask website </h2>                                   
        </nav>                                                              
        <main>                                                              
            {% block content %} {% endblock %}                                       
        </main>                                                            
        <script src="{{ url_for('static', filename='js/script.js') }}"></script>                                               
    </body>                                                            
</html>                                                                