
{% extends 'base.html' %}

{% block title %} 홈 페이지 - {{title}} {% endblock %} 
{% block content %}
    <h1> 반갑습니다. {{ user.username }}님! </h1>
    <p> 당신의 등급은 {{ user.level }}입니다. </p>
    <p> 우리의 차수는 {{ chasu + 1 }}차입니다. </p>
    <h2> 오늘의 상태 </h2> 
    {% if on_class %} 
        <p> 오늘은 수업 중 </p> 
    {% else %} 
        <p> 오늘은 휴강일 </p>
    {% endif %}

    <h2> 오늘의 할 일 </h2> 
    <ul> 
        {% for item in tasks %} 
            <li> {{ item }} </li> 
        {% endfor %} 
    </ul> 
    <button onclick="showAlert()"> 클릭 해보세요 </button>
    <div class="img-box"> 
        <p> 정적 이미지</p> 
        <img width="100" src="{{ url_for('static', filename='images/logo.jpg') }}"> 
    </div> 
{% endblock %} 



