{% extends "base.html" %}
{% block title %}로그인{% endblock %}
{% block content %}
<h2>로그인</h2>
<form id="loginForm"> 
<input type="text" id="name" placeholder="사용자 이름" required>
<input type="password" id="password" placeholder="비밀 번호" required>
<button type="submit">로그인</button>
</form>
<p>
    계정이 없으신가요? <a href="/register_page">회원 가입 하러가기</a></p>
<script> 
    document.getElementById('loginForm').addEventListener
    ('submit', async (e) => {
        e.preventDefault();
        const name = document.getElementById('name').value;
        const password = document.getElementById('password').value;
        const response = await fetch('/api/login', { // AJAX(예전에 쓰던거) <---> Fetch API(최근에 사용), AXIOS(가장 최근)는 라이브러리 관리를 잘해야 호환성 문제가 없음 
            method: 'POST',
            headers: { 'Content-Type': 'application/json' },
            body: JSON.stringify({name, password})
        });
        const result = await response.json();
        if (response.ok && result.success) {
            alert(result.message);
            window.location.href = '/books';
        } else {
            alert(result.message || '로그인 실패');
        }
    }
);
</script>
{% endblock %}

